.channel_container:hover >  h4 {
  color: white;
  background-color: #40464b;
}

.channel_container > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
}
.channel_container h4 {
  color: gray;
}
.channel_hash{
    font-size: 30px;
    padding: 8px;
}
.channel_container{
width: 100%;
}
